# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# ===========================
# Virtual Environment
# ===========================
venv/
env/
.env/
.venv/

# ===========================
# Django
# ===========================
*.log
db.sqlite3
media/
staticfiles/

# ===========================
# Environment Variables
# ===========================
.env
.env.local
.env.production

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# PyCharm
# ===========================
.idea/

# ===========================
# Windows
# ===========================
Thumbs.db
Desktop.ini

# ===========================
# Mac
# ===========================
.DS_Store

# Local test files
test.py
